name: Run Tests

on:
  push:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '22'
        
    - name: Install dependencies
      working-directory: ./strajk-bowling
      run: npm install
      
    - name: Run tests
      working-directory: ./strajk-bowling
      run: npm test